<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>BelleView Hotel</title>
</head>

<body>

    <footer class="footer">
        <div class="footer-section1">
            <div>
                <h1 class="footer-title">Belle<span>View</span></h1>
            </div>
            <div class="footer-icons">
                <i class="fab fa-twitter footer-tw"></i>
                <i class="fab fa-facebook-f footer-fb"></i>
                <i class="fab fa-linkedin-in footer-li"></i>
            </div>
            <div class="footer-newsletter">
                <h1 class="footer-subscribe">Subscribe to our Newsletter</h1>
                <form>
                    <input type="text" placeholder="E-mail Address" />
                    <input type="submit" value="SEND" />
                </form>
            </div>
        </div>

        <div class="footer-section2">
            <div class="footer-about">
                <h3 class="footer-about-title">About Us</h3>
                <ul>
                    <li>
                        Terms & Conditions
                    </li>
                    <li>
                        Privacy Policy
                    </li>
                    <li>
                        About Us
                    </li>
                    <li>
                        Locations
                    </li>
                </ul>
            </div>
            <div class="footer-suites">
                <h3 class="footer-suites-title">Suites</h3>
                <ul>
                    <li>
                        Golden Suite
                    </li>
                    <li>
                        Silver Suite
                    </li>
                    <li>
                        King's Suite
                    </li>
                    <li>
                        Policy Suite
                    </li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>