/* =================== CONTACT STYLES ===================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.contact-container {
  height: 1015px;
  display: flex;
  width: 100%;
  margin-top: 3rem;
  font-family: 'Poppins', sans-serif;
  padding: 135px 100px 100px 100px;
  position: relative;
  overflow: hidden;
  overscroll-behavior-y: none;
}

.contact-us {
  width: 50%;
}

.contact-title {
  font-size: 80px;
  line-height: 150px;
  font-weight: bold;
  color: #ac8daf;
  margin-bottom: 24px;
}

.contact-title>span {
  color: #ddb6c6;
}

.contact-title-dash {
  display: inline-block;
  position: absolute;
  width: 74px;
  height: 10px;
  left: 570px;
  top: 226px;
  background: #484c7f;
  border-radius: 20px;
}

.nav {
  background-color: white !important;
}

.contact-desc {
  /* width: 522px; */
  width: 90%;
  padding-left: 20px;
  top: 396px;
  font-size: 24px;
  line-height: 36px;
  color: rgba(72, 76, 127, 0.74);
  margin-bottom: 50px;
}

.contact-branches {
  display: flex;
}

.branch-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #484c7f;
  margin-bottom: 14px;
}

.branch-street {
  font-size: 18px;
  line-height: 27px;
  color: rgba(72, 76, 127, 0.74);
  margin-bottom: 68.5px;
}

.contact-form {
  width: 50%;
  padding-left: 100px;
  margin-top: 85px;
}

.form-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: end;
  color: #484c7f;
  margin-bottom: 44px;
}

.contact-name,
.contact-email,
.contact-no,
.contact-message {
  display: block;
  margin-bottom: 14px;
  width: 100%;
  height: 62px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding-left: 50px;
  background: #ffffff;
  border: 1px solid #484c7f;
  box-sizing: border-box;
  outline: none;
  color: #484c7f;
}

.contact-message {
  height: 232px;
  margin-bottom: 25px;
  padding-top: 18px;
}

.contact-name::placeholder,
.contact-email::placeholder,
.contact-no::placeholder {
  color: #484c7f;
  opacity: 0.5;
}

.contact-message::placeholder {
  color: #484c7f;
  opacity: 0.5;
}

.contact-submit {
  width: 150px;
  height: 50px;
  background: #484c7f;
  border-radius: 10px;
  color: #ffffff;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  outline: none;
  border: none;
}

.contact-submit:hover {
  background-color: rgb(46, 50, 99);
  cursor: pointer;
}

.contact-circle {
  position: absolute;
  top: 54%;
  left: -7%;
}


/* ===============END OF CONTACT FORM=========== */
@media screen and (min-width: 300px) and (max-width: 800px) {
  .contact-title-dash {
    display: none;
  }

  .contact-container {
    margin: 2rem;
    padding: 0;
    height: 100%;
    display: block;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow: hidden;
  }

  .contact-us {
    width: 100%;
  }

  .contact-title {
    font-size: 45px;
  }

  .contact-form {
    width: 100%;
    padding-left: 0;
  }

  .form-title {
    text-align: start;
  }

  .contact-name,
  .contact-email,
  .contact-no,
  .contact-message {
    width: 90%
  }

  .contact-circle {
    display: none;
  }

  .branch-street {
    font-size: 16px;
  }
}

@media screen and (max-width: 1204px) {
  .contact-title-dash {
    left: 492px;
  }

  .contact-branches {
    display: block;
  }

  .contact-title {
    font-size: 68px;
  }

  .branch-street {
    font-size: 16px;
  }
}

@media only screen and (max-width: 375px) {
  .contact-title {
    font-size: 50px;
  }

  .contact-desc {
    font-size: 20px;
  }

  .branch-street {
    font-size: 18px;
  }
}
