*,
::after,
::before {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: left !important;
}

body {
    overflow-x: hidden;
}

nav {
    background-color: #F9EFFA;
}

.fac-1,
.fac-2 {
    padding-left: 100px;
}

.fac-1 {
    background-color: #F9EFFA;
    background-blend-mode: lighten;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10vh;
}

.fac-1 .ellipse-1 {
    position: absolute;
    right: 1px;
    width: 150px;
    top: 250px;
}

p {
    color: rgba(72, 76, 127, 0.74);
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
    font-size: 18px;
}

.fac-header {
    color: #484C7F;
    font-size: 60px;
    line-height: 1;
    padding: 60px 0;
  animation-name: slideInLeft;
   animation-duration: 2s;
}

.fac-header span {
    color: #DDB6C6;
}

.fac-1 button {
    padding: 20px;
    background-color: #484C7F;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
    margin: 60px 0;
    font-size: medium;
}

.fac-img {
    width: 100%;
    /* height:500px; */
}

.fac-2 {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 150px;
}

.icon-one {
    padding: 8px;
    background-color: #ac8daf;
    margin: 0 10px;
    border-radius: 100%;
    color: #fff;
}

.fac2-header1 {
    color: #AC8DAF;
    font-size: 60px;
    font-style: normal;
    line-height: 80px;
    padding: 60px 0;
}

.fac2-header2 {
    color: #DDB6C6;
    font-size: 60px;
    font-style: normal;
    line-height: 80px;
}

.fac2-img {
    width: 100%;
    overflow: hidden;
}

.fac-2 p {
    color: rgba(72, 76, 127, 0.74);
    padding-top: 20px;
    padding-bottom: 60px;
}

.fac-2 .ellipse-3 {
    position: absolute;
    left: 1px;
    width: 100px;
    top: 1200px;

}

.fac-3 {
    display: grid;
    grid-template-columns: 55% 35%;
    background-color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F9EFFA;
    height: 800px;
}

.fac3-header1 {
    color: #484C7F;
    font-size: 60px;
    font-style: normal;
    line-height: 80px;
    padding: 60px 0;
}

.fac3-img-body {
    position: relative;
    overflow: auto;
}

.fac3-img {
    position: absolute;
    left: 19px;
    height: 80%;
    width: 60%;
}

.fac-3 .ellipse-5 {
    position: absolute;
    right: 1px;
    width: 100px;
    top: 1900px;
}

/*tabs*/
@media only screen and (max-width: 769px) {

    p {
        font-size: 18px;
        text-align: left;
        padding: 10px;
    }


    .fac-1 {
        padding-left: 10px;
    }
    .fac-2{
        padding-top:50px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .fac-1 .img-1 {
        width: 150px;
        top: 100px;
    }

    .fac-1 .ellipse-1 {
        top: 194px;
    }

    .fac-2 .ellipse-3 {
        display: none;
    }

    .fac2-img img {
        width: 769px;
    }

    .spa,
    .gym-text,
    .restaurant-text {
        padding-left: 10px;
    }

    .fac-3 .ellipse-5 {
        top: 2020px;
        width:90px;
    }

    .ellipse-restaurant {
        width: 80px !important;
        top: 4026px !important;
    }

    .ellipse-gym {
        width: 80px !important;
        top: 3800px !important;
    }

    .fac-3 {
        grid-template-columns: 60% 40%;
    }

    .gym-image img,
    .restaurant-image img {
        max-width: none !important;
    }

    .gym-container {
        padding-bottom: 0px !important;
    }

    .fac-1 .img-2 {
        width: 100px;
        top: 190px;
    }

    .fac-1 button {
        padding: 10px;
        font-size: 12px;
        text-align: center;
    }

    .fac-header,
    .fac2-header1,
    .fac3-header1 {
        line-height: 1;
        padding: 10px;
        font-size: 40px;
        text-align: left;
    }

    .fac-2 {
        grid-template-columns: 100%;
    }

    .fac-2 .img-3 {

        width: 60px;
        top: 1460px;
    }

    .fac-2 .img-4 {

        width: 80px;
        top: 1520px;
    }

    .fac3-img-body img {
        display: block;
        width: 100%;
        height: auto;
        max-width: 500px;
    }
    .restaurant-title, .gym-title{
        padding-left:10px;
    }
    .restaurant-section, .gym-section{
        padding: 0px !important;
    }
}

/* medium screen */
@media only screen and (max-width: 600px) {
    p {
        font-size: 16px;
        text-align: left;
        padding: 10px;
    }

    .fac-1 {
        padding-left: 10px;
    }

    .fac-2 {
        padding-left: 0px;
    }

    .fac-1 button {
        margin: 15px;
        padding: 10px;
        font-size: 12px;
    }

    .fac-header,
    .fac2-header1,
    .fac3-header1 {
        line-height: 1;
        padding: 10px;
    }

    .fac-1 .img-1 {
        width: 80px;
        top: 700px;
    }

    .fac2-img img,
    .fac3-img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .fac-1 .img-2 {
        position: absolute;
        right: 1px;
        width: 50px;
        top: 760px;
    }

    .fac-2 {
        display: grid;
        
    }
    .fac-2-text{
        margin:auto;
        padding: 10px;
    }
    .fac-2 .img-3 {
        width: 50px;
        top: 1620px;
    }

    .fac-2 .img-4 {
        width: 80px;
        top: 1670px;
    }

    .fac-3 {
        grid-template-columns: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .restaurant-section {
        padding-bottom: 0px !important;
    }

    .gym-container {
        padding-bottom: 0px !important;
    }

    .fac3-img {
        /* display: none; */
        position: relative;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .fac-1 .ellipse-1 {
        width: 115px;
        top: 57px;
    }

    .fac-3 .ellipse-5 {
        top: 2430px;
        width: 90px;
    }

    .ellipse-gym {
        width: 62px !important;
        top: 3495 !important;
    }

    .ellipse-restaurant {
        width: 67px !important;
    }

    .fac-3 .img-5 {

        width: 80px;
        top: 2280px;
    }

    .fac-3 .img-6 {

        width: 80px;
        top: 2340px;
    }
    .gym-image img{
        padding-top:0px !important;
    }
}

/*smallest screens */
@media only screen and (max-width: 320px) {
    .ellipse-restaurant {
        display: none;
    }

    .fac-header,
    .fac2-header1,
    .fac3-header1 {
        line-height: 1;
        padding: 10px;
        font-size: 27px;
    }

    p {
        font-size: 16px;
        text-align: left;
        padding: 10px;
    }

    .fac-1,
    .fac-2,
    .fac-3 {
        padding: 10px;
    }

    .fac-1 button {
        margin: 15px;
        padding: 10px;
        font-size: 12px;
    }

    .fac-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:auto;
    }

    .fac-3 {
        margin-top: -200px;
        display: flex;
        flex-direction: column-reverse;
    }

    .fac2-img {
        background-image: none;
    }

    .fac2-img img,
    .fac3-img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .fac-2 .img-3 {
        width: 40px;
        top: 1760px;
    }

    .fac-2 .img-4 {
        width: 70px;
        top: 1800px;
    }

    .fac-3 .img-5 {

        width: 60px;
        top: 2400px;
    }

    .fac-3 .img-6 {

        width: 60px;
        top: 2450px;
    }
}

/*
/* restaurant and gym section  */
.restaurant-section {
    padding: 10px;
}

.restaurant-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

.restaurant-title {
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    color: #AC8DAF;
    font-size: 35px;
}

.body-text {
    font-style: normal;
    font-size: 16px;
    line-height: 27px;
    color: rgba(72, 76, 127, 0.74);
    text-align: c;
}

.ellipse-gym {
    display: none;
}

.restaurant-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding-top: 20px;
}

.ellipse-restaurant {
    display:none;
}

.ellipse-gym {
    position: absolute;
    right: 1px;
    width: 100px;
    top: 4200px;
}

.gym-section {
    background-color: rgb(238, 232, 239);
    padding: 10px;
}

.gym-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;

}

.gym-title {
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    font-size: 35px;
    color: #484C7F;
}

.gym-image img {
    padding-top: 50px;
    width: 100%;
    max-width: 800px;
    height: auto;
}

/* mobile for gym and restaurant */
@media screen and (min-width:1024px) {


    .gym-container {
        padding-top: 100px;
        padding-bottom: 150px;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    
    .gym-image img{
        margin-left: -10px;
    }

    .restaurant-container {
        display: grid;
        grid-template-columns: 50% 60%;
        gap: 1em;
        margin-top: 100px;
    }

    .restaurant-text {
        padding-top: 100px;

        /* padding-left: 20px; */
    }

    .gym-text {
        padding-top: 100px;
        margin-right: 250px;
    }

    .ellipse-restaurant {
        position: absolute;
        left: 1px;
        width: 100px;
        top: 2900px;
    }

    .ellipse-gym {
        position: absolute;
        right: 1px;
        width: 100px;
        top: 3600px;
    }

    .body-text {
        text-align: left;
        font-size: 1.125em;
        font-style: bold;
        color: rgba(72, 76, 127, 0.74);
        display: block;
        width: 100%;
        max-width: 500px;
        line-height: 27px;
    }

    .gym-title,
    .restaurant-title {
        font-size: 68gipx;
    }
}

@media screen and (max-height: 650px) {
    .ellipse-restaurant {
        position: absolute;
        left: 1px;
        width: 100px;
        top: 2900px !important;
    }
}
