.footer {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    padding: 40px;
    background: #484C7F;
    font-family: Poppins;
    align-content: center;
}

.footer-section1 {
    width: 45%;
    padding: 0px 2.5%;
}

.footer-section2 {
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.footer-title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    padding: 15px;
    color: #fff;
}

.footer-title>span {
    color: #AC8DAF;
}

/* icons styling */

.footer-tw,
.footer-fb,
.footer-li {
    padding: 15px;
    background-color: #AC8DAF;
    font-size: 18px;
    margin: 0 10px;
    border-radius: 100%;
    color: #fff;

}

.footer-fb {
    padding: 15px 20px;
}

.footer-newsletter {
    padding: 15px;
}

.footer-subscribe {
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
}

.footer-form {
    display: flex;
}

.footer-input[type="text"] {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 0.625rem !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    background: #484C7F;
    width: 350px;
    border: 2px solid #AC8DAF;
    outline: none;
    color: #fff
}

::placeholder {
    color: #fff;
    opacity: 0.5;
}


.footer-input[type="submit"] {
    width: 168px;
    background: #AC8DAF;
    border: 2px solid #AC8DAF;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    color: #fff;
}

.footer-about-title,
.footer-suites-title {
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.footer-link {
    text-decoration: none;
    color: #fff;
}

.footer-ul {
    list-style: none;
    padding: inherit;
}

.footer-link-li {
    padding-bottom: 8px;
    font-size: 18px;
    color: #fff;
    opacity: 0.5;
}


@media screen and (max-width: 1024px) {
    .footer-section1 {
        width: 50%;
    }

    .footer-section2 {
        width: 40%
    }

    .footer-input[type="text"] {
        width: 250px;
    }

    .footer-input[type="submit"] {
        width: 120px;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 20px;
    }

    .footer-input[type="text"] {
        width: 250px;
    }

    .footer-input[type="submit"] {
        width: 120px;
        font-size: 18px;
    }

    .footer-section1 {
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
    }

    .footer-section2 {
        width: 100%;
        justify-content: left;
    }

    .footer-about,
    .footer-suites {
        padding: 0 10px;
        width: 50%;
    }

    .footer-title,
    .footer-subscribe {
        font-size: 24px;
    }

    .footer-about-title,
    .footer-suites-title {
        font-size: 18px;
    }

    .footer-ul {
        padding: 0;
    }

    .footer-link-li {
        font-size: 18px;
    }

    .footer-input[type="text"] {
        width: 300px
    }

    .footer-input[type="submit"] {
        width: 120px;
        font-size: 18px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        padding: 0;
    }

    .footer-section1,
    .footer-section2 {
        width: 100%;
    }

    .about {
        padding: 0 15px;
    }

    .footer-form {
        flex-wrap: nowrap;
    }

    .footer-input[type="text"] {
        width: 70%;
    }

    .footer-input[type="submit"] {
        width: 35% !important;

    }
}

@media screen and (max-width: 320px) {
    .footer-form {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        width: 100%;
    }

    .footer-subscribe {
        font-size: 18px;
        padding: 0;
        margin-bottom: 0;
    }

    .footer-newsletter {
        padding: 0 !important;
    }

    .footer-subscribe {
        padding-left: 10px;
    }

    .footer-tw,
    .footer-fb,
    .footer-li {
        padding: 10px;
    }



    .footer-input[type="text"] {
        width: 90%;
        padding: 10px 0px 10px 8px !important;
        border: 1px solid #AC8DAF;
        margin: 10px auto;
    }

    .footer-input[type="submit"] {
        width: 93% !important;
        padding: 8px 0 8px 0 !important;
        margin: 0 auto;
    }

    .footer-tw,
    .footer-fb,
    .footer-li {
        font-size: 14px;
        margin: 0 5px;
        color: #fff;
    }

    .footer-title {
        padding: 8px;
    }

    .footer-fb {
        padding: 10px 12px;
    }
} 
