
/*section for suites-rooms css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.suites-rooms-trending .row::after {
    content: "";
    clear: both;
    display: table;
}

.suites-rooms-trending [class*="col-"] {
    float: left;
}
.suites-rooms-trending .col-1 {width: 8.33%;}
.suites-rooms-trending .col-2 {width: 16.66%;}
.suites-rooms-trending .col-3 {width: 25%;}
.suites-rooms-trending .col-4 {width: 33.33%;}
.suites-rooms-trending .col-5 {width: 41.66%;}
.suites-rooms-trending .col-6 {width: 50%;}
.suites-rooms-trending .col-7 {width: 58.33%;}
.suites-rooms-trending .col-8 {width: 66.66%;}
.suites-rooms-trending .col-9 {width: 75%;}
.suites-rooms-trending .col-10 {width: 83.33%;}
.suites-rooms-trending .col-11 {width: 91.66%;}
.suites-rooms-trending .col-12 {width: 100%;}

.rooms-and-suites-search-container {
    width: 80%;
    margin: auto;
}
.rooms-and-suites-search-container .search-input {
    background: #FFFFFF;
    border: 1px solid #484C7F;
    box-sizing: border-box;
    /*border-radius: 10px 0 0 10px;*/
    padding: 12px;
    font-size: 14px;
}
.rooms-and-suites-search-container .check-in-btn, .check-out-btn {
    background: #FFFFFF;
    border: 1px solid #484C7F;
    color: #484C7F;
    padding: 12px;
    min-height: 42px;
    font-size: 14px;
    cursor: pointer;
}

.suites-rooms-trending .trending-top {
    background-color: #FFFFFF;
}
.suites-rooms-trending .treading-btm-bg {
    background-color: #E5E5E5;
    padding: 55px 0;
}

.suites-rooms-trending .trending-top .trending-title {
    width: 85%;
    margin: auto;
    padding: 15px;
}

.suites-rooms-trending .trending-top .trending-title h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #484C7F;
    margin: 0 0 27px 0;
}
.suites-rooms-trending .trending-top .trending-title h1 img {
}

.suites-rooms-trending .trending-top .trending-cards-top {
    width: 85%;
    margin: auto;
}

.suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container {
    padding: 22px;
}
.suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container img, .content {
    width: 97%;
}
.suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .room-img img {
    max-height: 495px;
    min-height: 495px;
}
.suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .content {
    background: #F6F6F9;
    border-radius: 20px;
    padding: 18px 28px 28px 28px;
}
.suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .content .title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    color: #484C7F;
}
.suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .content .text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: rgba(72, 76, 127, 0.74);
}
.suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .content .icon {
    cursor: pointer;
    text-align: right;
}
.suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .content .icon img {
    min-height: 65px;
    min-width: 65px;
}

/*suites and rooms mobile view css*/

@media screen and (max-width: 360px) {
    .suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .room-img img {
        max-height: 175px;
        min-height: 175px;
    }
    .suites-rooms-trending .trending-top .trending-cards-top {
        width: 99%;
        margin: auto;
    }
    .suites-rooms-trending .trending-top .trending-title {
        width: 99%;
        margin: auto;
    }
    .suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .content .title {
        font-size: 21px;
    }
}

@media screen and (max-width: 400px) {
    .suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .room-img img {
        max-height: 225px;
        min-height: 225px;
    }
    .suites-rooms-trending .trending-top .trending-cards-top {
        width: 96%;
        margin: auto;
    }
    .suites-rooms-trending .trending-top .trending-title {
        width: 96%;
        margin: auto;
    }
    .suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .content .title {
        font-size: 23px;
    }
}

@media screen and (max-width: 650px) {
    .suites-rooms-trending .col-6 {width: 100%;}
    .suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .room-img img {
        max-height: 345px;
        min-height: 345px;
    }
}
@media screen and (min-width: 600px) and (max-width: 650px) {
    .suites-rooms-trending .trending-top .trending-cards-top {
        width: 82%;
        margin: auto;
    }
    .suites-rooms-trending .trending-top .trending-title {
        width: 82%;
        margin: auto;
    }
}
@media screen and (min-width: 651px) and (max-width: 800px) {
    .suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .room-img img {
        max-height: 305px;
        min-height: 305px;
    }
    .suites-rooms-trending .trending-top .trending-cards-top {
        width: 97%;
        margin: auto;
    }
    .suites-rooms-trending .trending-top .trending-title {
        width: 97%;
        margin: auto;
    }
    .suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .content .title {
        font-size: 25px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1050px) {
    .suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .room-img img {
        max-height: 355px;
        min-height: 355px;
    }
    .suites-rooms-trending .trending-top .trending-cards-top {
        width: 90%;
        margin: auto;
    }
    .suites-rooms-trending .trending-top .trending-title {
        width: 90%;
        margin: auto;
    }
    .suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .content .title {
        font-size: 27px;
    }
}
@media screen and (min-width: 1050px) and (max-width: 1200px) {
    .suites-rooms-trending .trending-top .trending-cards-top .trending-cards-container .room-img img {
        max-height: 425px;
        min-height: 425px;
    }
    .suites-rooms-trending .trending-top .trending-cards-top {
        width: 90%;
        margin: auto;
    }
    .suites-rooms-trending .trending-top .trending-title {
        width: 90%;
        margin: auto;
    }
}
